
#tablero img
{
	visibility: hidden;
}	

#tablero div
{
	background-color: indigo;
	padding: 4px;
	border-width: 5px;
	margin: 8px;
	width: 140px;
	float: left;
}

#tablero{
	width: 850px;
	overflow:hidden;
}