.row {
    padding: 3%;
    padding-top: 2%;
    .cont{   
        width: 100%;
        height: 427px; 
        background-color:$primary;  
        -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
        transition: width 2s;
        @include animation-slide-left(slide-1, -100%, 0);    
        animation: 2s ease-out 0s 1 slide-1;
        .boxMj{
            @include boxColorAndSize( 200px,57px, $redBox,4,relative,126px,296px);       
            @include shadows();     
        }
        .boxMj1{
            @include boxColorAndSize( 220px,57px, $yellowBox,3,relative,258px,308px);  
            @include shadows();   
        }
        .inBackB{
            bottom:35px;
            color: $whiteMain;
            @include monserrat-font();
            font-size: 15px;
            line-height: 32px;
            @include animation-slide-down(slide-2, -20%, 0);    
            animation: 2s ease-out 0s 1 slide-2;
            padding-top: 30%;    
        }       
        h2{
            @include h2-fontSize(6px);
        } 
        h3{
            @include h2-fontSize(5px);
        }
        .inBackBH{
            font-size: 100px;
            @include bungee-Shade-font();
            color: $whiteMain;
            padding-left: 189px;
            padding-top: 67px;
            bottom:37px;     
            animation: 2s ease-out 0s 1 slide-1;
        }
        .spanHL{
            padding-right: 20px;
            padding-left: 20px;
            color: $whiteMain;
            padding-bottom: 20px;
        }        
        img{
            border-radius: 50%;
            vertical-align: middle;
            width: 226px;
            left: 162px;
            bottom: 48px;
            position: relative;
            z-index: 2;
        }
        #circle {
            width: 209px;
            height: 209px;
            -webkit-border-radius: 25;
            -moz-border-radius: 25px;
            border-radius: 104px;
            background: #12151c;
            position: relative;
            bottom: 251px;
            left: 189px;
            z-index: 1;
          } 
    }
}

.aMain {
    color: $whiteMain;
    padding-bottom: 4px;
    border-bottom: 1px solid $redBox;
    padding: 0.1em 0.4em;
    &:hover {
        @include aStandard($whiteMain,$redBox,none);
    }
    &:visited{
        @include aStandard($whiteMain,$redBox,none);
    }
    &:active{
        @include aStandard($whiteMain,$redBox,none);
    }
  }
  