<div class="container__project__card" *ngFor="let category of projectCategories | keyvalue: customSort">
    <h2>{{ formatCategoryName(category.key) }}</h2>
    <div *ngFor="let project of category.value" class="container__project__card__inner">
        <div class="image-container">
            <!-- Assuming you have an <app-image-carousel> component to display images -->
            <app-image-carousel [images]="project.images"></app-image-carousel>
        </div>
        <div class="container__project__card__inner__project__details">
            <h3>{{ project.name }}</h3>
            <p>{{ project.description }}</p>
            <p><span class="container__project__card__inner__project__details__subtitle">Technologies:</span> {{
                project.technologies.join(', ') }}</p>
            <p><span class="container__project__card__inner__project__details__subtitle">Type:</span> {{ project.type }}
            </p>
            <p><span *ngIf="project.oc" class="container__project__card__inner__project__details__subtitle">Outsourcing
                    Company: </span> <a [href]="project.clientLink" target="_blank">{{ project.oc }}</a> </p>
            <p><span *ngIf="project.client" class="container__project__card__inner__project__details__subtitle">Final
                    client: </span> <a [href]="project.clientLink" target="_blank">{{ project.client }}</a> </p>
            <a [href]="project.link" target="_blank">App Store Link</a>
            <div *ngIf="project.clientLink">
                <a [href]="project.clientLink" target="_blank">Client Website</a>
            </div>
        </div>
    </div>
</div>