<div class="banner">
    <div class="banner__left">
        <div class="banner__row">
            <div class="banner__first">
                <h1 class="banner__first__h1">ANDRÉS</h1>
                <h1 class="banner__first__h1--right">ARANGO</h1>
            </div>
            <div class="banner__second">
                <img src="https://raw.githubusercontent.com/andresarangoa/andresarangoa.github.io/master/public/assets/profile.jpeg"
                    alt="Profile Picture" />

                <h2 class="banner__second__title--top">Mobile Developer</h2>
                <h2 class="banner__second__title--bottom">
                    AI &amp; Game Developer Enthusiast
                </h2>
            </div>
        </div>
    </div>

    <div class="banner__right">



        <div class="banner__right__social">
            <a href="https://www.linkedin.com/in/andr%C3%A9s-felipe-arango-rodr%C3%ADguez-67a641143/" target="_blank"
                rel="noopener noreferrer" aria-label="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/andresarangoa/" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.tiktok.com/@andresarangopro" target="_blank" rel="noopener noreferrer"
                aria-label="TikTok">
                <i class="fab fa-tiktok"></i>
            </a>

        </div>
        <p>
            Ingeniero de Software con más de seis años de experiencia. He adquirido
            habilidades desarrollando diversas aplicaciones para grupos de
            investigación, así como colaborando con empresas de todo el mundo. Experto
            en Android Apps. Apasionado por afrontar desafíos. Apasionado por la
            programación, profundamente comprometido con la creación de código limpio
            y el cumplimiento de las buenas prácticas. Entusiasta del desarrollo de
            videojuegos, la IA y casi cualquier cosa que se trate de tecnología.
        </p>

        <nav class="banner__right__nav">
            <ul>
                <li><a routerLink="/projects">Projects</a></li>
                <li> <a routerLink="/blog">Blog</a></li>
                <li> <a routerLink="/contact">Contact</a></li>
                <li class="banner__right__nav__cv--padding"> </li>
                <li class="banner__right__nav__cv--en">
                    <a href="assets/cv/FELIPECVEN.pdf" download="Andres_Arango_CV_EN.pdf" aria-label="Download CV in English">
                      <i class="fas fa-file-download"></i> CV (EN)
                    </a>
                </li>
                <li class="banner__right__nav__cv--es">
                    <a href="assets/cv/FELIPECVES.pdf" download="Andres_Arango_CV_ES.pdf" aria-label="Download CV in Spanish">
                        <i class="fas fa-file-download"></i> CV (ES)
                      </a>
                </li>
            </ul>
         
        </nav>

    

    </div>
</div>